.jumbotron {
  padding-top: 6rem;
}

.colom {
  margin-left: 280px;
}

.colom-2 {
  margin-top: 150px;
}

section {
  padding-top: 6rem;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  /* text-decoration: underline; */
  /* border-bottom: 2px solid greenyellow; */
}

.nav-link::after {
  content: "";
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: greenyellow;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}
